
.footer_bottom1 label {
	color: #ff4f81;
	display: block;
	font-size: 0.3em;
	letter-spacing: 3px;
}

.footer_bottom1 h2 {
	font-size: 2.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	color: #fff;
	font-weight: 700;
}

.footer_grid h3, .footer_grid_left h3 {
    font-size: 1.5em;
    color: #fff;
    position: relative;
    margin-bottom: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer_grid_left h3 {
	margin: 0;
}

.footer_grid p {
	color: #8b8b96;
	line-height: 2em;
	margin-bottom: 2em;
}

.footer_grid_list li,
.address li {
	display: block;
	margin-bottom: 1em;
}

.footer_grid_list li i {
	color: #93a804;
	padding-right: 1em;
}

.footer_grid_list li a {
	color: #8b8b96;
	text-decoration: none;
	line-height: 1.5em;
	letter-spacing: 1px;
	font-size: 15px;
}

.footer_grid_list li a:hover {
	color: #fff;
}

.footer_grid_list li:last-child,
.address li:last-child {
	margin-bottom: 0;
}

.address li {
	color: #8b8b96;
}

.address li i {
	margin-right: 1.5em;
	color: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #4b4b50;
}

.address li span {
	display: block;
	margin-left: 4em;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.address li a {
	color: #a8aeb3;
	text-decoration: none;
}

.address li a:hover {
	color: #fff;
	text-decoration: none;
}

.footer_grids {
	margin: 3em 0 0 0;
}

.footer_grid_right input[type="email"] {
	outline: none;
	padding: 14px;
	background: #fff;
	font-size: 0.9em;
	color: #888;
	width: 70%;
	margin-right: 1em;
	border: none;
	letter-spacing: 2px;
}

.footer_grid_right input[type="email"]::-webkit-input-placeholder {
	color: #999!important;
}

.footer_grid_right input[type="button"] {
	outline: none;
	padding: 12px 0;
	background: #93a804;
	font-size: 1em;
	color: #fff;
	width: 20%;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer_grid_right input[type="button"]:hover {
	background: #ec1955;
}

ul.social-icons3.two li a {
	text-align: center;
}
/*-- //footer --*/
/*-- bootstrap-modal-pop-up --*/
.modal-header {
    font-size: 2em;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #999;
    text-align: left;
    padding: 1em 2em 0em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}
.modal-body {
    padding:0;
}
.modal-body img {
    padding: 0em 1em 0 1em;
	width:100%;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1.5em;
    color:#000;
	outline: none;
}
/*-- //bootstrap-modal-pop-up --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 55px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/top1.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- /responsive design --*/
@media(max-width:1440px){

}
@media(max-width:1366px){
}
@media(max-width:1280px){
.logo-w3layouts h1 a {
    left: 2em;
}
}
@media(max-width:1080px){
.ser-grid h4 {
    font-size: 1.4em;
}
.footer_grid h3, .footer_grid_left h3 {
    font-size: 1.3em;
}
.team .w3agile-caption {
    width: 100%;
    left: 0%;
	}
	.contact-left-w3ls .glyphicon {
    padding-left: 1.5em;
   }
}
@media(max-width:1024px){
.logo-w3layouts h1 a {
    left: 1em;
}
.menu {
    right: 2em;
}
.view {
    width: 302px;
}
.view .mask, .view .content {
    width: 306px;
}
}
@media(max-width:991px){
.w3-about-left,.w3-about-left1 {
    margin: 2em 0;
}
.w3-services-grid-left {
    margin: 0em 0 4em 0;
}
.w3-services-left-text {
    margin: 2em 0 0 0;
}
.footer_grid {
    width: 60%;
    margin: 0 auto 2em;
}
.footer_grid_right {
    width: 85%;
    margin: 0 auto;
}
.footer_grid_left h3 {
    margin: 0 0 1em 0;
	text-align: center;
}
.footer_grid_right {
    width: 100%;
    margin: 0 auto;
}
.ser-grid.wow.fadeInLeft.animated.animated {
    width: 50%;
    float: left;
}
.ser-grid.wow.fadeInDownBig.animated.animated {
    width: 50%;
    float: left;
}
.ser-grid.wow.fadeInUpBig.animated.animated {
    margin-bottom: 2em;
}
.list-grid {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.services-grid {
    width: 80%;
    float: none;
    margin: 0 auto 2em;
}
.view {
    width: 302px;
}
.view {
    margin: 19px;
}
.contact-left-w3ls {
    margin: 3em auto 0 !important;
    padding: 2em;
    width: 50% ;
}
}
@media(max-width:800px){
.menu .toggle {
    padding: 1em 0em;
}
.logo-w3layouts h1 a {
    letter-spacing: 2px;
}
.w3-services-left-text h3 {
    font-size: 1.8em;
}
.logo-w3layouts h1 {
    font-size: 2em;
}
.menu {
    right: 2em;
    top: 3em;
}
.banner-w3lstext .breadcrumb li {
    font-size: 2em;
}
.contact-left-w3ls {
    margin: 2em 0 0 0;
}
}
@media(max-width:768px){
.logo-w3layouts h1 {
    font-size: 28px;
}
.menu {
    top: 3em;
}
.wthree_head_all h3 {
    margin-bottom: 1em;
}
.contact-left-w3ls {
    width: 61%;
}
}
@media(max-width:736px){
.agileinfo_mail_grid_right input[type="text"]:nth-child(2), .agileinfo_mail_grid_right input[type="email"] {
    margin: 1em 0;
}
}
@media(max-width:684px){
.view {
    width: 277px;
}
}
@media(max-width:667px){
.callbacks_tabs {
    left: 40%;
}
.banner-w3lstext .breadcrumb li {
    font-size: 1.5em;
}
.banner {
    min-height: 166px;
}
.view {
    margin: 6px;
}
.view {
    width: 304px;
}
}
@media(max-width:640px){
.view {
    margin: 0px;
}
.view {
    width: 295px !important;
}
.banner-w3lstext .breadcrumb li {
    font-size: 1.4em;
}
}
@media(max-width:600px){
.g1 {
    padding: 2.5em 1em;
}
.banner-w3lstext .breadcrumb {
    margin: 21px 0 0 0;
}
.view .mask, .view .content {
    width: 280px;
}
.view {
    margin: em 0;
    width: 276px !important;
}
}
@media(max-width:568px){
.view {
    width: 266px;
}
.view .mask, .view .content {
    width: 266px;
}
.agileinfo_mail_grids h3 {
    padding-left: 12px;
}
.view {
    margin: em 0;
    width: 267px !important;
}
.contact-left-w3ls {
    width: 70%;
}
}
@media(max-width:480px){
.wthree_head_all h3 {
    margin-bottom: 1em;
    font-size: 32px;
}
.about, .w3-services, .portfolio, .clients-main {
    margin: 3em 0;
}
.ser-grid.wow.fadeInLeft.animated.animated {
    width: 57%;
    float: none;
    margin: 0 auto;
}
.ser-grid.wow.fadeInUpBig.animated.animated {
    width: 57%;
    float: none;
    margin: 2em auto 0em;
}
.ser-grid.wow.fadeInRight.animated.animated {
 width: 57%;
    float: none;
    margin: 2em auto 0em;
}
.ser-grid.wow.fadeInDownBig.animated.animated {
    width: 57%;
    float: none;
    margin: 2em auto 0em;
}
.team-grids {
    width: 80%;
    margin: 0 auto;
    float: none;
}
.view {
    width: 224px;
}
.view .mask, .view .content {
    width: 224px;
}
.agileinfo_mail_grids h3 {
    font-size: 1.5em;
}
.agileinfo_mail_grid_right input[type="button"], .agileinfo_mail_grid_right input[type="reset"] {
    width: 40.9%;
}
.view .mask, .view .content {
    width: 281px;
}
.view {
    width: 225px !important;
}
.view .mask, .view .content {
    width: 222px;
}
.contact-left-w3ls {
    width: 86%;
}
.icons,.codes {
    padding: 2em 0;
}
}
@media(max-width:414px){
.logo-w3layouts h1 {
    font-size: 23px;
}
.menu {
    top: 2.5em;
}
.footer_grid {
    width: 90%;
}
.wthree_head_all h3 {
    font-size: 25px;
}
.w3-about-left-text h3, .w3-about-right-text h3, .w3-about-right1-text h3, .w3-about-left1-text h3 {
    font-size: 1.5em;
}
.w3-services-left-text h3 {
    font-size: 1.5em;
}
.w3-services-left-text h4 {
    font-size: 1em;
}
.ser-grid.wow.fadeInLeft.animated.animated {
    width: 67%;
    float: none;
    margin: 0 auto;
}
.ser-grid.wow.fadeInUpBig.animated.animated {
    width: 67%;
    float: none;
    margin: 2em auto 0em;
}
.ser-grid.wow.fadeInRight.animated.animated {
 width: 67%;
    float: none;
    margin: 2em auto 0em;
}
.ser-grid.wow.fadeInDownBig.animated.animated {
    width: 67%;
    float: none;
    margin: 2em auto 0em;
}
.list-grid {
    width: 100%;
    float: none;
    margin-bottom: 2em;
}
.services-grids, .overview-grids {
    margin-top: 2em;
}
.agileinfo-ser {
    padding: 3em 0;
}
.main-services {
    padding: 3em 0;
}
.main {
    width: 84%;
    margin: 0 auto;
}
.view {
    width: 305px;
}
.view .mask, .view .content {
    width: 305px;
}
.agileinfo_mail_grids h3 {
    padding-left: 1px;
}
.view {
    width: 307px !important;
}
.contact-left-w3ls {
    width: 98%;
}
}
@media(max-width:384px){
.agileinfo-ser {
    padding: 2em 0;
}
.services-left {
    width: 17%;
}
.view {
    width: 291px !important;
}
}
@media(max-width:375px){
.ser-grid h4 {
    font-size: 1.3em;
}
.agileinfo_mail_grids h3 {
    font-size: 1.3em;
}
.services-grid {
    width: 100%;
    float: none;
    margin: 0 auto 2em;
}
.view {
    width: 290px;
}
.ser-grid.wow.fadeInUpBig.animated.animated {
    width: 72%;
}
.ser-grid.wow.fadeInLeft.animated.animated {
    width: 72%;  
}
.ser-grid.wow.fadeInDownBig.animated.animated {
    width: 72%;
}
.ser-grid.wow.fadeInRight.animated.animated {
    width: 72%;
	}
	.about, .w3-services, .portfolio, .clients-main {
    margin: 2em 0;
	}
}
@media(max-width:320px){
.logo-w3layouts h1 {
    font-size: 20px;
}
.menu {
    top: 2em;
}
.menu .toggle-menu li a {
    font-size: 1em;
}
.w3-about-left-text, .w3-about-right-text, .w3-about-right1-text, .w3-about-left1-text {
    padding: 2em;
    background: #93a804;
}
.w3-services-left-text h4 {
    font-size: 0.9em;
}
.w3-services-grid2 {
    margin: 2em 0px;
}
.w3-about-left-text p, .w3-about-right-text p, .w3-about-right1-text p, .w3-about-left1-text p {
    margin: 1em 0 2em 0;
}
.w3-about-left-text, .w3-about-right-text, .w3-about-right1-text, .w3-about-left1-text {
    padding: 1.8em;
}
.about, .w3-services, .portfolio, .clients-main {
    margin: 2em 0;
}
.w3-about-left-text, .w3-about-right-text, .w3-about-right1-text, .w3-about-left1-text {
    padding: 1.3em;
}
.footer_grid_left h3 {
    font-size: 1.2em;
}
.footer_grid_right input[type="button"] {
    width: 30%;
}
.footer_grid_right input[type="email"] {
    width: 63%;
}
.ser-grid.wow.fadeInLeft.animated.animated {
    width: 90%;
    float: none;
    margin: 0 auto;
}
.ser-grid.wow.fadeInUpBig.animated.animated {
    width: 90%;
    float: none;
    margin: 2em auto 0em;
}
.ser-grid.wow.fadeInRight.animated.animated {
 width: 90%;
    float: none;
    margin: 2em auto 0em;
}
.ser-grid.wow.fadeInDownBig.animated.animated {
    width: 90%;
    float: none;
    margin: 2em auto 0em;
}
.team-grids {
    width: 100%;
}
.contact-left-w3ls .glyphicon {
    padding-left: 0.5em;
}
.view {
    width: 243px !important;
}
.view .mask, .view .content {
    width: 244px;
}
.contact-left-w3ls {
    width: 100%;
}
}
/*-- /responsive design --*/

.back {
	height:50px;
	width: 100%;
	background-color:#000000;
	
}


